
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("http://localhost:8001/images/BackGroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  user-select: none;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  color: #fff;
  user-select: none;
  padding-bottom: 60px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

